#mybox {
    height: 400px;
    background-color: blueviolet;
}

@media (min-width: 600px) {
    #mybox {
        /* height: 300px; */
        background-color: dodgerblue;
    }
}

@media (min-width: 900px) {
    #mybox {
        /* height: 200px; */
        background-color: fuchsia;
    }
}