<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <h1>Todo List</h1>
  <form id="newtaskform" action="/" method="POST">
    <input id="taskname" name="name">
    <input type="submit" value="ADD">
  </form>
  <ul id="tasklist">
  {{#each todos as |todo|}}
    <li>{{todo.name}}</li>
  {{/each}}
  </ul>
</body>
</html>
