div {
    height: 50px;
    width: 50px;
    background-color: lightcoral;
    margin: 10px;
    color: white;
    font-size: 20pt;
    padding: 10px;
    position: sticky;
    top: 50px;
    left: 100px;
    /* transform: translate(100px, 50px); */
}